.live_result_main {
  max-width: 1248px;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
}
.live_result_wrapper {
  width: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.live_result_wrapper > div {
  font-size: 25px;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: rgb(255, 68, 0);
  background-color: #fff;
}
.live_title {
  font-size: 13px;
}
